{% extends 'base.html' %}

{% block title %}Library{% endblock %}

{% block content %}
    <h1>Library</h1>
    <a href="{% url 'create' %}" class="btn btn-primary add-book">Add Book</a>
    <ol>
        {% for book in books %}
        <li>
            <span class="book-title"><a href="{% url 'detail' pk=book.pk %}">{{ book.title }}</a></span>
            <a href="{% url 'update' pk=book.pk %}"><i class="bi bi-pencil-square"></i></a>
            <a href="{% url 'delete' pk=book.pk %}"><i class="bi bi-trash-fill" style="color: red"></i></a>
        </li>
        {% endfor %}
    </ol>
<div class="container mt-4" style="text-align: center;">
    <button style="background-color: tomato;">
    <a href="{% url 'register' %}" style="color: aqua">
    <i class="bi bi-box-arrow-left"></i>Logout</a></button>
</div>
{% endblock %}
